# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.CorsetRun.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Longhorn Unity Projects\corset run\CorsetRun\.idea\.idea.CorsetRun\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
